<h1>List of Available Tours</h1>

<%= form_tag(tours_path, :method => "get", id: "search-form") do %>
<%= text_field_tag :search, params[:search], placeholder: "Search Tours" %>
<%= submit_tag "Search" %>
<% end %>


<% @tours.each do |tour| %>

<div><%= tour.tour_name %>: 	
<%= tour.tour_description %>
</div>


<% end %>

<% if @tours.present? %>
  <%= render @tours %>
<% else %>
  <p>There are no tours containing the term(s) <%= params[:search] %>.</p>
<% end %>
