<h1>Add a Tour</h1>

<%= form_for @tour do |f| %>
  <p>
    <%= f.label :tour_name %><br>
    <%= f.text_field :tour_name %>
  </p>
  <p>
    <%= f.label :tour_description %><br>
    <%= f.text_area :tour_description %>
  </p>
  <p>
    <%= f.label :address %><br>
    <%= f.text_field :address %>
  </p>
    <p>
   <%= f.submit "Save" %>
  </p>
  <% end %>


