<div class="maxsize">
<%= image_tag("nomadlogo.png", size: "200x125") %>
</div>

<h1>Create New Tour</h1>

<%= form_for @tour do |f| %>
  <p>
    <%= f.label :tour_name %><br>
    <%= f.text_field :tour_name %>
  </p>
  <p>
    <%= f.label :tour_description %><br>
    <%= f.text_area :tour_description %>
  </p>
  <p>
    <%= f.label :address %><br>
    <%= f.text_field :address %>
  </p>
 <p>
    <%= f.label :city %><br>
    <%= f.text_field :city %>
  </p>
  <p>
  <%= f.check_box :dog_friendly %>
  <%= f.label :dog_friendly, "Dog friendly" %>
  <%= f.check_box :family_friendly %>
  <%= f.label :family_friendly, "Family friendly" %>
  </p>
  <p>
   <%= f.submit "Create" %>
  </p>
  <% end %>