<h1>Send a message</h1>


<%= form_for @message do |f| %>
  <p>
    <%= f.label :message %><br>
    <%= f.text_area :message %>
  </p>
  
  <p>
    <%= f.label  :recipient_id %><br>
    <%= f.number_field :recipient_id %>
  </p>

  <p>
    <%= f.submit "Save" %>
  </p>
<% end %>


