<!DOCTYPE html>
<html>
	<head>
<!-- 	// <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script> -->
	<meta name="viewport" content="width=device-width,initial-scale=1">

	  <title>Nomad</title>
	  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	  <%= csrf_meta_tags %>
	</head>

	<body>
    <header class="navigation" role="banner">
      <div class="navigation-wrapper">
      <a href="/" class="logo">
        <img id="our-logo" src='http://kategrant.ca/nomadlogo.png' alt="Logo Image">
      </a>


  <a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu">MENU</a>

    <nav role="navigation">
      <ul id="js-navigation-menu" class="navigation-menu show">
        <li class="nav-link"><%= link_to "Tours", tours_path %></il>

        <% if current_user %>
          <li class="nav-link"><%= link_to "Messages", messages_path %></li>
          <li class="nav-link"><%= link_to "Users", users_path %></li>
          <li class="nav-link"><%= link_to "Offer Tour", new_tour_path %></li>
          <li class="nav-link"><%= link_to "Logout", logout_path %></li>
        <% else %>
          <li class="nav-link"><%= link_to "Login", login_path %></il>
          <li class="nav-link"><%= link_to "Signup", new_user_path %></il>
        <% end %>
      </ul>


</header>

		<%= yield %>

    <script type="text/javascript">
      $(document).ready(function() {
      var menuToggle = $('#js-mobile-menu').unbind();
      $('#js-navigation-menu').removeClass("show");

      menuToggle.on('click', function(e) {
        e.preventDefault();
        $('#js-navigation-menu').slideToggle(function(){
          if($('#js-navigation-menu').is(':hidden')) {
            $('#js-navigation-menu').removeAttr('style');
    </script>
  </body>

</html>