<h1> <%= @user.firstname %>'s Profile </h1>

Name: <%= current_user.firstname%> <%=current_user.lastname%>


<h1>All Users</h1>

<% @users.each do |user|%>
<div><%= user.firstname%> <%=user.lastname%>  <%=link_to "<Message User>", new_message_path(user.id)%></div> 
<%end%>



