<h3> Please Fill in the Following Fields to Sign Up </h3>

<%= form_for @user do |f| %>

	<div class ="field">
		<%= f.label :firstname %>
		<%= f.text_field :firstname %>
	</div>

	<div class ="field">
		<%= f.label :lastname %>
		<%= f.text_field :lastname %>
	</div>

	<div class="field">
		<%= f.label :email %>
		<%= f.text_field :email %>
	</div>

	<div class="field">
		<%= f.label :password %>
		<%= f.password_field :password %>
	</div>

	<div class="field">
		<%= f.label :password_confirmation %>
		<%= f.text_field :password_confirmation %>
	</div>

<%= f.submit %>
<% end %>